<div class="px-4 py-8">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product_product: product %}

        {% else %}
          <p class="font-medium">We're sorry, there are no products in this collection yet.</p>
        {% endfor %}
      </div>
    </div>

    <!--
      We render our pagination snippet, sending it the paginate object (created above) as a parameter. Inside the pagination
      snippet file, we use pagination as our variable. So here we pass the paginate object into the snippet, through the
      pagination variable.
    -->
    <div class="flex flex-col justify-center items-center">
      {% render 'pagination', pagination: paginate %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of Products per page"
    }
  ]
}
{% endschema %}
