<div class="my-8 flex flex-col items-center">
  <h1 class="font-medium text-3xl my-8 md:my-16">
    {{ page.title }}
  </h1>
  <div class="max-w-6xl.mx-auto.px-4">
    {{ page.content }}
  </div>
</div>
